@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@0;1&family=Oswald:wght@400;600&display=swap");

* {
  margin: 2px;
  border: 0;
  text-decoration: none;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
}

.FooterMain a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* list-style-type: none; */
  margin-bottom: 10px;
  padding: 20px;
  background-color: aquamarine;
}
