* {
  margin: 0;
  border: 0;
}

body {
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
}

.FooterMain a {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* list-style-type: none; */
  margin-bottom: 10px;
  padding: 20px;
  background-color: aquamarine;
}
